@media(min-width:1400px) {}


@media(min-width:1200px) and (max-width:1399px) {}


@media(min-width:992px) and (max-width:1199px) {

    /*====================================
             Classes Part Start 
    ==================================== */
    .main_text ul li {
        width: 19.57%;
    }
    .main_text ul li:nth-child(5),
    .main_text ul li:nth-child(10) {
        margin-right: 0;
    }

    /*====================================
             Classes Part End 
    ==================================== */

    #footer_part ul li {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        color: #fff;
        font-weight: 400;
    }
}


@media(min-width:768px) and (max-width:991px) {

    /*=====================================
                 Menu Part Start
    ====================================== */
    /*=====================================
                 Menu Part End
    ====================================== */
    .main_menu .navbar-nav .nav-item .nav-link {
        font-size: 13px;
        padding: 0 5px;
    }

    .main_menu {
        top: 0px;
    }

    .main_text ul li {
        width: 19.42%;
    }

    /*=====================================
                 About Part Start
    ====================================== */
    .about_text p {
        margin-bottom: 20px;
    }

    .about_text p span {
        margin-top: 20px;
        display: inline-block;
    }

    /*=====================================
                 About Part End
    ====================================== */



    /*=====================================
    Pricing Part Start
    ====================================== */
    .pricing_inner h3 {
        font-size: 15px;
        padding: 15px 0;
    }

    .pricing_inner h2 {
        padding: 25px 0;
        font-size: 48px;
    }

    .pricing_inner ul li {
        font-size: 14px;
        margin-bottom: 25px;
    }

    .pricing_inner ul {
        padding: 33px 0 5px;
    }

    .pricing_inner a {
        font-size: 15px;
    }

    #test_part {
        padding-bottom: 60px;
    }

    /*=====================================
    Pricing Part End
    ====================================== */

    /*=====================================
                     Classes Part Start
        ====================================== */
    .main_text ul li h6 {
        font-size: 14px;
    }

    .main_text ul li p {
        font-size: 12px;
    }

    /*=====================================
                     Classes Part Start
        ====================================== */

}


@media(min-width:576px) and (max-width:767px) {

    /*========================================
    Menu Part Start 
    =========================================*/
    .main_menu {
        margin-top: 0px;
        top: 0px;
        background: #e23e38;
    }

    .main_menu .navbar-brand {
        width: 170px;
        height: 50px;
    }

    .main_menu .navbar-brand img {
        margin-top: -1px;
    }

    .main_menu button:focus {
        outline: 0;
    }

    .main_menu button i {
        color: #fff;
    }

    .main_menu .navbar-nav {
        background: #e23e38;
        text-align: center;
    }

    .main_menu .navbar-nav .nav-item .nav-link {
        line-height: 40px;
    }

    .menu_fix {
        background: rgba(226, 62, 56, 0.8);
    }

    .class_menu li .nav-link:nth-child(1),
    .class_menu li .nav-link:nth-child(2),
    .class_menu li .nav-link:nth-child(3) {
        border-bottom: 2px solid #e23e38;
    }

    .main_text {
        margin-top: 70px;
    }

    .main_text ul li {
        width: 49.1%;
        padding: 30px 0;
    }

    .main_text ul li:hover {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }

    .main_text ul li:nth-child(2),
    .main_text ul li:nth-child(4),
    .main_text ul li:nth-child(6),
    .main_text ul li:nth-child(8),
    .main_text ul li:nth-child(10) {
        margin-right: 0;
    }

    .main_text ul li:nth-child(5) {
        margin-right: 5px;
    }

    /*========================================
                 Menu Part End 
    =========================================*/

    /*========================================
                 Banner Part Start 
    =========================================*/
    .banner_item {
        padding: 100px 0 70px;
    }

    .banner_text h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .banner_text h1 {
        font-size: 45px;
        margin-bottom: 5px;
    }

    .banner_text p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 20px;
    }

    .banner_text h2::before,
    .banner_text h2::after,
    .banner_text h1::before,
    .banner_text h1::after,
    .banner_text p::before,
    .banner_text p::after {
        display: none;
    }

    #banner_part .slick-dots li button {
        width: 15px;
        height: 15px;
    }

    /*========================================
                 Banner Part End 
    =========================================*/

    /*========================================
                 About Part Start 
    =========================================*/
    #about_part {
        padding: 50px 0 40px;
    }

    .about_text p {
        font-size: 13px;
        margin-top: 10px;
        text-align: justify;
        padding-bottom: 20px;
    }

    .about_text h3 {
        margin-bottom: -5px;
    }

    /*========================================
                 About Part End 
    =========================================*/

    /*========================================
                 Gallery Part Start 
    =========================================*/
    .gallery_head h3 {
        font-size: 22px;
    }

    .gal_img:nth-child(2),
    .gal_img:nth-child(4) {
        margin-bottom: 30px;
    }

    .gal_img:nth-child(6) {
        margin-bottom: 0;
    }

    .gallery_main {
        padding: 30px 0 0;
    }

    /*========================================
                 Gallery Part End 
    =========================================*/

    /*========================================
                 Team Part Start 
    =========================================*/
    #team_part {
        padding: 40px 0;
    }

    /*========================================
                 Team Part End 
    =========================================*/

    /*========================================
                Testimonial Part Start 
    =========================================*/
    #test_part {
        padding-bottom: 40px;
    }

    /*========================================
                Testimonial Part End 
    =========================================*/

    /*========================================
                 Pricing Part Start 
    =========================================*/
    #pricing_part .pricing_inner {
        margin-bottom: 20px;
    }

    #pricing_part {
        padding-bottom: 30px;
    }

    /*========================================
                 Pricing Part End 
    =========================================*/

    /*========================================
                 Counter Part Start 
    =========================================*/
    .counter_text h3 {
        font-size: 33px;
    }

    /*========================================
                 Counter Part End 
    =========================================*/


    /*========================================
                 Footer Part Start 
    =========================================*/
    .foot_img img {
        width: 22.83%;
        margin-right: 4px;
        margin-bottom: 10px;
    }

    .foot_img img:nth-child(4),
    .foot_img img:nth-child(8),
    .foot_img img:nth-child(12) {
        margin-right: 0;

    }

    /*========================================
                 Footer Part End 
    =========================================*/

}


@media(max-width:575px) {


    /*========================================
                 Menu Part Start 
    =========================================*/
    .main_menu {
        margin-top: 0px;
        top: 0px;
        background: #e23e38;
    }

    .main_menu .navbar-brand {
        width: 170px;
        height: 50px;
    }

    .main_menu .navbar-brand img {
        margin-top: -1px;
    }

    .main_menu button:focus {
        outline: 0;
    }

    .main_menu button i {
        color: #fff;
    }

    .main_menu .navbar-nav {
        background: #e23e38;
        text-align: center;
    }

    .main_menu .navbar-nav .nav-item .nav-link {
        line-height: 40px;
    }

    .menu_fix {
        background: rgba(226, 62, 56, 0.8);
    }

    .class_menu li .nav-link:nth-child(1),
    .class_menu li .nav-link:nth-child(2),
    .class_menu li .nav-link:nth-child(3) {
        border-bottom: 2px solid #e23e38;
    }

    .main_text {
        margin-top: 70px;
    }

    .main_text ul li {
        width: 49.1%;
        padding: 30px 0;
    }

    .main_text ul li:hover {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }

    .main_text ul li:nth-child(2),
    .main_text ul li:nth-child(4),
    .main_text ul li:nth-child(6),
    .main_text ul li:nth-child(8),
    .main_text ul li:nth-child(10) {
        margin-right: 0;
    }

    .main_text ul li:nth-child(5) {
        margin-right: 5px;
    }

    /*========================================
                 Menu Part End 
    =========================================*/

    /*========================================
                 Banner Part Start 
    =========================================*/
    .banner_item {
        padding: 100px 0 70px;
    }

    .banner_text h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .banner_text h1 {
        font-size: 45px;
        margin-bottom: 5px;
    }

    .banner_text p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 20px;
    }

    .banner_text h2::before,
    .banner_text h2::after,
    .banner_text h1::before,
    .banner_text h1::after,
    .banner_text p::before,
    .banner_text p::after {
        display: none;
    }

    #banner_part .slick-dots li button {
        width: 15px;
        height: 15px;
    }

    /*========================================
                 Banner Part End 
    =========================================*/

    /*========================================
                 About Part Start 
    =========================================*/
    #about_part {
        padding: 50px 0 40px;
    }

    .about_text p {
        font-size: 13px;
        margin-top: 10px;
        text-align: justify;
        padding-bottom: 20px;
    }

    .about_text h3 {
        margin-bottom: -5px;
    }

    /*========================================
                 About Part End 
    =========================================*/

    /*========================================
                 Gallery Part Start 
    =========================================*/
    .gallery_head h3 {
        font-size: 22px;
    }

    .gal_img:nth-child(2),
    .gal_img:nth-child(4) {
        margin-bottom: 30px;
    }

    .gal_img:nth-child(6) {
        margin-bottom: 0;
    }

    .gallery_main {
        padding: 30px 0 0;
    }

    /*========================================
                 Gallery Part End 
    =========================================*/

    /*========================================
                 Team Part Start 
    =========================================*/
    #team_part {
        padding: 40px 0;
    }

    /*========================================
                 Team Part End 
    =========================================*/

    /*========================================
                Testimonial Part Start 
    =========================================*/
    #test_part {
        padding-bottom: 40px;
    }

    /*========================================
                Testimonial Part End 
    =========================================*/

    /*========================================
                 Pricing Part Start 
    =========================================*/
    #pricing_part .pricing_inner {
        margin-bottom: 20px;
    }

    #pricing_part {
        padding-bottom: 30px;
    }

    /*========================================
                 Pricing Part End 
    =========================================*/

    /*========================================
                 Counter Part Start 
    =========================================*/
    .counter_text h3 {
        font-size: 33px;
    }

    /*========================================
                 Counter Part End 
    =========================================*/

    /*========================================
                 Classes Part Start 
    =========================================*/
    .class_menu li {
        width: 33.33%;
    }

    /*========================================
                 Classes Part End 
    =========================================*/

    /*========================================
                 Footer Part Start 
    =========================================*/
    .foot_img img {
        width: 22.83%;
        margin-right: 4px;
        margin-bottom: 10px;
    }

    .foot_img img:nth-child(4),
    .foot_img img:nth-child(8),
    .foot_img img:nth-child(12) {
        margin-right: 0;

    }

    /*========================================
                 Footer Part End 
    =========================================*/

}

@media (min-width:400px) and (max-width:575px) {


    /*========================================
                 Footer Part Star 
    =========================================*/
    .foot_img img {
        width: 23.3%;
    }

    /*========================================
                 Footer Part End 
    =========================================*/
}